#header {
  display: grid;
  grid-template-columns:
    [burger-menu-start] 23.33% [burger-menu-end h1-start] 53.33%
    [h1-end icon-start] 23.33% [icon-end];

  height: 10vh;
  margin: 3vh 0 0 0;

  #burger-menu {
    grid-column: burger-menu;
    align-self: center;
    width: 3rem;
    height: auto;
    cursor: pointer;

    transition: width 0.3s;
  }

  #burger-menu:hover {
    width: 3.2rem;
  }

  h1 {
    grid-column: h1;
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
    margin: auto;
    padding: 0;
  }

  img {
    grid-column: icon;
    align-self: end;
    height: 6.2rem;
    width: 6.2rem;
  }
}
